@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url('../images/sky_heist.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
}

.page {
    display: none;
}

#page1 {
    display: block;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 80px;
    margin-top: 30px;
    letter-spacing: 5px;
    text-shadow:
        -3px -3px 0 black,
        3px -3px 0 black,
        -3px 3px 0 black,
        3px 3px 0 black;
}

.input-box {
    margin-top: 80px;
}

.input-box label {
    font-size: 20px;
    color: darkblue;
}

input {
    padding: 12px;
    width: 300px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid darkblue;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

.start-button {
    padding: 15px 40px;
    font-size: 20px;
    background-color: blue;
}

.start-button:hover {
    background-color: darkblue;
}