@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Press+Start+2P&display=swap');

body {
    background-image: url('../images/sky_heist.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.page {
    display: none;
}

#page1 {
    display: block;
    padding-top: 100px;
}

.content-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    margin: 80px auto 30px auto;
    padding: 40px;
    border-radius: 30px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 70px;
    margin: 20px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
}

.input-box label {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: white;
}

input {
    padding: 10px;
    width: 280px;
    margin: 15px;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 15px;
}

.start-button {
    font-family: 'Press Start 2P', cursive;
    padding: 15px 30px;
    font-size: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.start-button:hover {
    background-color: darkgreen;
}

.tagline {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: black;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.tagline p {
    margin: 5px;
}