/* === PAGE 3 (Role Info Page) === */

#page3 {
    display: none;
    padding-top: 80px;
}

.role-box {
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 25px;
}

#roleTitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 45px;
    color: white;
    margin-bottom: 15px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black;
}

#roleDescription {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    line-height: 1.4;
    margin-bottom: 30px;
}

#startGameBtn {
    font-family: 'Press Start 2P', cursive;
    padding: 12px 25px;
    font-size: 12px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

#startGameBtn:hover {
    background-color: darkgreen;
}

/* === PAGE 4 (Game Layout Page) === */

#page4 {
    display: none;
    padding-top: 50px;
}

.game-box {
    background-color: rgba(0, 0, 0, 0.75);
    width: 700px;
    margin: 0 auto;
    padding: 25px;
    border-radius: 25px;
}

#gameHeader p {
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    color: white;
    margin: 10px 0;
}

.logBox {
    height: 230px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    color: white;
    text-align: left;
}

#gameControls {
    margin-top: 20px;
}

#airportInput {
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 16px;
}

#goBtn {
    font-family: 'Press Start 2P', cursive;
    padding: 12px 25px;
    font-size: 12px;
    background-color: green;
    color: white;
    border: none;
    margin-left: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#goBtn:hover {
    background-color: darkgreen;
}
